*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(253, 246, 234);
    overflow-x: hidden;
    font-size: 1.6rem;
}


:root{
    --red: rgb(221, 0, 0);
    font-size: 62.5%;
}

.menu_button{
    display: none;
    position: fixed;
    right: 7vw;
    font-size: 2rem;
    font-weight: bolder;
}

header{
    background-color: white;
    border-bottom: 5px var(--red) solid;    
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 9999999999;
    top: 0;
    transition: top 1s;
}

.coat_of_arms{
    width: 7%;
    margin: 5px 0px 5px 10px;
}

.coat_of_arms img{
    width: 100%;
}

.the_roman_catholic_diocese_of_daet{
    font-size: 130%;
}
.the_roman_catholic_diocese_of_daet h2{
    color: var(--red);
}

nav{
    position: fixed;
    right: 0;
    z-index: 999999999;
}
nav ul{
    padding: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

nav ul li{
    margin: 20px;
    transition: ease .3s;
    padding: 0 5px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li:hover{
    border-bottom: var(--red) solid 3px;
    cursor: pointer;
    transform: scale(1.1);
    font-weight: bold;
}

.about_subnav{
    position: absolute;
    top: -100vw; 
    right: 23.5rem;
    transition: ease .3s;
}

.about_subnav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 110%;
}

.about_subnav ul li{
    padding: 15px;
    margin: 0;
    background-color: white;
    width: 100%;
    font-size: 1.5rem;
    border: #999999 solid 2px;
}

.about_subnav ul li:hover{
    background-color: var(--red);
    border: white solid 2px;
    color: white;
    transform: scale(1);
}

main{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5vw 10vw 0vw 10vw;
    font-size: 2rem;
}

footer{
    background-color: #e2e2e2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.coat_of_arms_footer{
    width: 10vw;
}

.coat_of_arms_footer img{
    width: 100%;
}

.diocese_of_daet_contact_adress{
    width: min-content;
}
.diocese_of_daet_contact_adress h3{
    font-size: 1.8rem;
    font-weight: lighter;
}

.diocese_of_daet_contact_adress h2{
    font-size: 2.9rem;
    width: max-content;
}

.connect_with_us{
    width: 20vw;
    font-size: 1.7rem;
}

.coscamm{
    width: 20vw;
}

.coscamm img{
    width: 100%;
}

.connect_soccom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HOME PAGE */
.red_title{
    color: var(--red);
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -3%;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

/* Slideshow container */
.image_slider {
    max-width: 100vw;
    max-height: 47vw;
    position: relative;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: 100vw;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: .7s;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

.the_bishop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.bishop_image{
    width: 35%;
    overflow: hidden;
    border: 5px solid white;
    box-shadow: 10px 15px 5px rgb(216, 216, 216);
}

.bishop_name_description{
    width: 75%;
}

.bishop_name_description h2{
    font-size: 3rem;
    margin-bottom: 10px;
}

.bishop_image img{
    width: 100%;
}

.the_diocese{
    display: flex;
    gap: 30px;
    align-items: center;
}

.cathedral_image{
    width: 40%;
    overflow: hidden;
    border: 5px solid white;
    box-shadow: 10px 15px 5px rgb(216, 216, 216);
}

.cathedral_image img{
    width: 120%;
    height: 100%;
    margin-left: -10%;
}

.the_diocese p{
    width: 60%;
}

/* CONTACT US */
.contact_us{
    margin-top: 15rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    align-items: center;
    row-gap: 50px;
    column-gap: 20px;
}

.contact_info ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 2rem;
}

.contact_info ul li{
    color: black;
    font-weight: bolder;
}
.contact_info ul li i{
    background-color: var(--red);
    color: white;
    padding: 10px;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 2rem;
}

.contact_info ul li a{
    text-decoration: none;
    color: rgb(85, 85, 85);
    margin-left: 5vw;
    font-weight: lighter;
    font-size: 1.7rem;
    transition: ease .3s;
}

.contact_info ul li a:hover{
    color: var(--red);
    font-weight: 500;
}

.map{
    border: #ffffff solid 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e2e2e2;
    height: 30vw;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.contact_form form{
    background-color: #e2e2e2;
    border: #999999 solid 2px;
    border-radius: 10px;
    padding: 10px 30px;
    width: 100%;
}

.form_name{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.form_contacts{
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 10px;
}

.contact_form form span{
    margin: 5px 0;
}

.contact_form form input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: #999999 solid 2px;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.message{
    height: 15vw;
    width: 102%;
    margin-bottom: 50px;
}

.message textarea{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: #999999 solid 2px;
}

.contact_form form .submit_form{
    width: 27%;
    border-radius: 100vw;
    font-weight: bold;
    background-color: var(--red);
    color: white;
}

.contact_form form .submit_form:hover{
    background-color:  rgb(155, 16, 16);
}


@media (max-width: 850px){
    .coat_of_arms{
        width: 13vw;
    }

    .coat_of_arms img{
        width: 100%;
    }

    .the_roman_catholic_diocese_of_daet{
        font-size: 2.5vw;
    }

    .menu_button{
        display: block;
        font-size: 3rem;
    }

    nav{
        width: 40vw;
        top: 15.7vw;
        left: -100vw;
        background-color: white;
        transition: ease .7s;
    }

    nav ul{
        flex-direction: column;
        padding: 20px 0;
        font-size: 2rem;
        gap: 0;
    }

    nav ul li{
        margin: 0;
        padding: 30px;
        width: 100%;   
        text-align: center;   
    }

    nav ul li:hover{
        background-color: var(--red);
        color: white;
        cursor: pointer;
    }

    .about_subnav{
        top: 0rem; 
        left: -100vw;
        width: 40vw;
    }

    .about_subnav ul li{
        padding: 20px;
        margin: 0;
        background-color: white;
        width: 100%;
        font-size: 2rem;
        border: #ffffff solid 2px;
    }

    .about_subnav ul li:hover{
        background-color: var(--red);
        border: none;
        color: white;
        transform: scale(1);
    }

    main{
        margin: 0vh 6vw 0vw 6vw;
        font-size: 2rem;
    }

    main p{
        text-align: justify;
        text-indent: 25px;
    }

    footer{
        padding: 10px;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        gap: 3rem;
    }

    .coat_of_arms_footer{
        width: 20vw;
    }

    .diocese_of_daet_contact_adress h3{
        font-size: 1.8rem;
        font-weight: lighter;
    }

    .diocese_of_daet_contact_adress h2{
        font-size: 3rem;
    }

    .connect_with_us{
        width: max-content;
        font-size: 2rem;
    }

    .coscamm{
        width: 100%;
    }

    .connect_soccom{
        width: 30vw;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    /* HOME PAGE */
    .red_title{
        font-size: 5rem;
        margin-left: -4%;
        margin-bottom: 2vh;
        margin-top: 7vh;
    }

    .image_slider{
        width: 100vw;
        height: max-content;
        margin-top: 7vh;
    }

    .image_slider img{
        width: 100vw;
        margin-top: -18%;
    }

    .the_bishop{
        flex-direction: column-reverse;
        gap: 15px;
    }

    .bishop_image{
        width: 50%;
    }

    .bishop_name_description{
        width: 100%;
    }

    .bishop_name_description h2{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 20px;
    }


    .the_diocese{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .cathedral_image{
        width: 70%;
    }

    .the_diocese p{
        width: 100%;
    }   

    /* CONTACT US */
    .contact_us{
        margin-top: 15rem;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;

    }

    .contact_info ul{
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: auto auto;
        row-gap: 50px;
    }

    .map{
        height: 50vw;
    }

    .contact_form form{
        height: 70vw;
    }

    .message{
        height: 45%;
    }
}

@media (max-width: 450px){
    .menu_button{
        font-size: 2rem;
    }

    nav{
        top: 6.5rem;
    }

    nav ul{
        padding:0px;
        font-size: 1.2rem;
    }

    nav ul li{
        padding: 20px 30px;
    }

    .about_subnav ul li{
        padding: 10px;
        font-size: 1.2rem;
    }

    main{
        font-size: 1.5rem;
    }

    main p{
        text-align: justify;
        text-indent: 15px;
    }

    footer{
        gap: 1rem;
    }

    .diocese_of_daet_contact_adress h3{
        font-size: 1.05rem;
    }

    .diocese_of_daet_contact_adress h2{
        font-size: 1.7rem;
    }

    .connect_with_us{
        font-size: 1rem;
    }

    .connect_soccom{
        gap: 2rem;
    }

    /* HOME PAGE */
    .red_title{
        font-size: 3rem;
        margin-top: 5vh;
    }

    .bishop_image{
        width: 70%;
    }

    .bishop_name_description{
        width: 100%;
    }

    .bishop_name_description h2{
        font-size: 2.3rem;
    }

    .cathedral_image{
        width: 90%;
    }
    /* CONTACT US */
    .contact_us{
        margin-top: 8rem;
    }

    .contact_info ul{
        column-gap: 0;
        row-gap: 30px;
    }

    .contact_info ul li{
        font-size: 1.5rem;
    }

    .contact_info ul li i{
        font-size: 1.3rem;
    }

    .contact_info ul li a{
        font-size: 1rem;
    }

    .map{
        height: 70vw;
    }

    .contact_form form{
        height: 100vw;
    }

    .form_name{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 10px;
    }

    .form_contacts{
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 10px;
    }

    .contact_form form span{
        margin: 5px 0;
    }

    .contact_form form label{
        font-size: 1.2rem;
    }

    .contact_form form input{
        padding: 7px;
        font-size: 1rem;
        border-radius: 5px;
    }

    .message{
        height: 40%;
        width: 102%;
        margin-bottom: 30px;
    }

    .message textarea{
        font-size: 1rem;
        padding: 5px;
        border-radius: 5px;
    }

    .contact_form form .submit_form{
        width: 40%;
    }
    
}